<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>paid</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
            Slots
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="slots">
        <div>5Ft slot: {{coin5}} pieces</div>
        <div>10Ft slot: {{coin10}} pieces</div>
        <div>20Ft slot: {{coin20}} pieces</div>
        <div>50Ft slot: {{coin50}} pieces</div>
        <div>100Ft slot: {{coin100}} pieces</div>
        <div>Container: {{containerAmount}}Ft</div>
      </div>  
    </mat-expansion-panel>
  </mat-accordion>